.app-background {
  background: radial-gradient(circle at 10% 10%, #262626, transparent 30%),
    radial-gradient(circle at 90% 10%, #262626, transparent 30%),
    radial-gradient(circle at 50% 50%, #010101, #010101 80%);
  /* Adjusted gradients for smoother transitions */
  min-height: 100vh;
  /* Ensures the background covers at least the viewport height */
  width: 100vw;
  /* Ensures the background covers the full width */
  background-attachment: fixed;
  /* Keeps the background fixed during scroll, if applicable */
  background-size: cover;
  /* Ensures the gradient covers the whole element */
  background-position: center;
  /* Centers the background */
}
.debug-border {
  border: 2px solid red !important;
}
.CodeMirror.cm-s-dracula {
  border: 2px solid #2c2c2c; /* Adjust the border color as needed */
  border-radius: 12px; /* Add rounded corners */
}

.CodeMirror-scroll {
  background: linear-gradient(145deg, #2F2F2F, #1F1F1F);
    /* border-; */
}
.CodeMirror-gutter{
  background-color: #2F2F2F;
}