.app-background {
  background: linear-gradient(195deg, #080708 , #1a0842 100%);
  /* background: #090708; */
  overflow: auto;
}

.debug-border {
  border: 2px solid red !important;
}

.gradient-button {
  /* background: linear-gradient(60deg, #9039D7, #6C3AE1); */
  background: linear-gradient(20deg, #080708, #6C3AE1 20%);
  /* background-color: #090708; */

}

.CodeMirror.cm-s-dracula {
  border: 2px solid #2c2c2c;
  /* Adjust the border color as needed */
  border-radius: 12px;
  /* Add rounded corners */
}

.purple-gradient-button {
  background: linear-gradient(60deg, #9039D7, #6C3AE1);
}
.modal-gradient{
  background: linear-gradient(60deg, #1a0842, #6C3AE1);
}
/* Add border-radius to the editor container */

.CodeMirror-scroll {
  background: linear-gradient(145deg, #2F2F2F, #1F1F1F);
  /* border-; */
  border-radius: 12px;
}

.CodeMirror-gutter {
  background-color: #2F2F2F;
}